<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.linuxtools.docker.ui.dockerComposeUpLaunchConfigurationType">
<stringAttribute key="workingDir" value="\UT3_Ejercicio_3\src\com\isf"/>
<booleanAttribute key="workingDirWorkspaceRelativeLocation" value="true"/>
</launchConfiguration>
